.top-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.top-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 137px;
}

.top-wave .shape-fill {
  fill: #355c7d;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
}

.bottom-wave .shape-fill {
  fill: #f67280;
}

.wave-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: var(--wave-line-hider);
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 96px;
}

.wave-2 .shape-fill {
  fill: #f8b195;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./img/spacer.svg");
}

.work-icons-container {
  position: absolute;
  right: 10%;
}

.work-icons-container svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.work-icons-container:after {
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 60px;
  width: 60px;
  transform: translate(-10px, -10px);
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 500ms;
}

.work-icons-container:hover:after {
  opacity: 1;
}

.grid-icon {
  /* display: none; */
  animation: grid-spinner 4000ms;
  animation-iteration-count: infinite;
}

.grid-icon rect:nth-of-type(1) {
  animation: color-changer 5000ms linear;
  animation-iteration-count: infinite;
}

.grid-icon rect:nth-of-type(2) {
  animation: color-changer 5000ms linear;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
}

.grid-icon rect:nth-of-type(3) {
  animation: color-changer 5000ms linear;
  animation-delay: 200ms;
  animation-iteration-count: infinite;
}

.grid-icon rect:nth-of-type(4) {
  animation: color-changer 5000ms linear;
  animation-delay: 300ms;
  animation-iteration-count: infinite;
}

.layers-icon {
  display: none;

  animation: layers 4000ms;
  animation-iteration-count: infinite;
}

.layers-icon polygon,
.layers-icon polyline {
  animation: color-changer2 4000ms;
  animation-iteration-count: infinite;
}

@keyframes grid-spinner {
  0% {
    transform: rotate(0turn) scale(1);
  }
  20% {
    transform: rotate(0.25turn) scale(1.2);
  }
  100% {
    transform: rotate(0.25turn) scale(1);
  }
}

@keyframes layers {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes color-changer {
  0% {
    stroke: var(--peach);
  }
  50% {
    stroke: var(--blue);
  }
  100% {
    stroke: var(--peach);
  }
}

@keyframes color-changer2 {
  0% {
    stroke: var(--light-violet);
  }
  50% {
    stroke: var(--blue);
  }
  100% {
    stroke: var(--light-violet);
  }
}
