:root {
  --peach: #f8b195;
  --pink: #f67280;
  --light-pink: #c06c84;
  --light-violet: #6c5b78;
  --blue: #355c7d;
  --text-black: #0e1111;
  --text-grey: #353839;
  --main-gradient: linear-gradient(
      210deg,
      rgba(246, 114, 128, 0) 0,
      rgba(246, 114, 128, 0.4) 20%,
      #fff 100%
    ),
    linear-gradient(217deg, var(--light-pink) 0, var(--pink) 50%, #fff 100%);
  --border-gradient: repeating-linear-gradient(
      45deg,
      var(--light-pink),
      var(--light-pink) 70%,
      var(--light-violet) 100%
    )
    1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Aleo", serif;
  overflow-x: hidden;
  /* background: #fff; */
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h1,
h5 {
  margin: 0;
  color: var(--text-black);
}

p {
  margin: 0;
}

header {
  position: fixed;
  background: transparent;
  z-index: 1;
  width: 100%;
  top: 0;
  transition: all 0.5s ease-out;
}
.nav-hidden {
  top: -100px;
}

header nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-items {
  display: none;
}

header .navbar-items li:not(:last-of-type) {
  padding-right: 2rem;
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
}

.head {
  font-family: "Permanent Marker", cursive;
  padding-bottom: 2rem;
}

.subhead {
  padding-top: 2rem;
  font-size: 1.25rem;
}

footer {
  position: relative;
  background: var(--light-violet);
}

footer nav {
  display: flex;
  align-items: flex-end;
  height: 30vh;
  padding-bottom: 5vh;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  color: #fff;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.icon-text {
  display: none;
  padding-left: 8px;
}

.footer-section {
  margin: 0;
  display: flex;
  width: 50%;
}

.footer-section:last-of-type {
  justify-content: flex-end;
}

.footer-section li:not(:last-of-type) {
  margin-right: 25px;
}

section {
  position: relative;
  overflow-y: hidden;
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-y: hidden;
}

.section-header {
  margin-bottom: 4rem;
  font-size: 2.25rem;
  letter-spacing: 0.08rem;
}

.animate-left {
  margin-left: -200px;
  transition: all 0.5s ease-out;
}

.animate-left-show {
  margin-left: 0;
}

.animate-opacity {
  opacity: 0;
  transition: all 1.5s ease-out;
}

.animate-opacity-show {
  opacity: 1;
}

.section-1 {
  background: var(--blue);
  padding-top: 200px;
  padding-bottom: 100px;
}

.section-2 {
  background: var(--main-gradient);
  background-attachment: fixed;
  padding-top: 200px;
  padding-bottom: 300px;
}

.section-3 {
  background: var(--main-gradient);
  background-attachment: fixed;
  padding-bottom: 300px;
}

.section-4 {
  background: var(--peach);
  padding-top: 0;
}

.grid {
  --auto-grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  column-gap: 35px;
  row-gap: 20px;
  /* grid-auto-rows: 600px; */
}

.grid-item {
  padding-bottom: 100px;
}

.grid-item-single {
  grid-row-end: span 1;
}

.grid-item-double {
  grid-row-end: span 2;
}

.project-head {
  font-family: "Permanent Marker", cursive;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.project-subhead-wrapper {
  display: inline-flex;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--blue);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.project-subhead {
  font-size: 0.9rem;
  color: var(--blue);
  text-decoration: none;
}

.project-content {
  padding-top: 1rem;
}

.project-description {
  padding-top: 2rem;
}

.project-description p:first-of-type {
  padding-bottom: 1rem;
}

.project-img-container {
  mask: linear-gradient(#000 0 0) top/100% calc(100% - 2 * 5) no-repeat;
}

.project-img-container img {
  width: 100%;
}

.project-thumb-link:hover img {
  opacity: 0.9;
}

.text-muted {
  color: var(--text-grey);
  font-size: smaller;
}

.lead {
  margin-bottom: 1rem;
  font-size: larger;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-container {
  width: 300px;
  padding-bottom: 5rem;
}

.skill-head {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

.skill-item {
  padding-top: 1.5rem;
  font-size: 1.1rem;
}

.skill-item-wrapper {
  display: inline-flex;
  padding-bottom: 2px;
  border-bottom: 2px solid var(--blue);
}

.blob-top-container {
  transform: translate(160px, 2.5vh);
  position: absolute;
  width: 300px;
  bottom: 0;
}

.blob-top-text {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  fill: var(--text-black);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  background: none;
  position: relative;
  width: 15vw;
  min-width: 120px;
  min-height: 120px;
  height: 20vw;
  display: flex;
  justify-content: center;
}

.navbar-toggler svg {
  pointer-events: none;
}

.navbar-toggler label {
  top: 0;
  left: 5vw;
  display: block;
  cursor: pointer;
  position: absolute;
  width: 20vw;
  min-width: 120px;
  min-height: 120px;
  height: 20vw;
}

.vertical-nav-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: -770px;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--light-pink);
  transition: all 0.5s ease-out;
}

.nav-menu-show {
  left: 0;
}

@media (min-aspect-ratio: 1/1) {
  .navbar-toggler label {
    width: 50vh;
    height: 50vh;
  }
}

.navbar-toggler input {
  display: none;
}

.navbar-toggler path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.navbar-toggler circle {
  fill: #fff3;
  opacity: 0;
}

label:hover circle {
  opacity: 1;
}

.back input:checked + svg .line--1,
.back input:checked + svg .line--3 {
  --length: 8.602325267;
}
.navbar-icon {
  background-color: #18bee5;
}

.navbar-icon .line--1,
.navbar-icon .line--3 {
  --total-length: 103.35061645507812;
  --offset: -42.35061645507812;
}

.navbar-icon .line--2 {
  --total-length: 99;
}

.navbar-icon input:checked + svg path {
  transform: translateX(31px);
}

.navbar-icon input:checked + svg .line--1,
.navbar-icon input:checked + svg .line--3 {
  --offset: -8.602325267;
}

.navbar-icon input:checked + svg .line--2 {
  --offset: -7;
}

@media only screen and (min-width: 481px) {
  .section-1 {
    padding-bottom: 200px;
  }
  .blob-top-container {
    display: block;
    transform: translate(50%, 3vh);
    width: 500px;
  }
}

@media only screen and (min-width: 769px) {
  .blob-top-container {
    display: block;
    transform: translate(85%, 3vh);
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-items {
    display: flex;
  }
  .grid-item {
    padding: 0;
  }
}

@media only screen and (min-width: 999px) {
  .blob-top-container {
    display: block;
    transform: translate(150%, 3vh);
    /* width: 100%; */
  }
  .icon-text {
    display: inline-block;
  }
  /* .skill-container:last-of-type {
    margin-left: 5rem;
  } */
}
